<!-- Toolbar -->
<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <button mat-raised-button color="accent" (click)="onAddCombination()">
    <mat-icon>add_circle</mat-icon>
    Add Combination
  </button>
</mat-toolbar>

<!-- Combinations List -->
<div class="container">
  <app-combination-list
    [combinations]="combinations"
    [loading]="loading"
    [currentSortBy]="currentSortBy"
    [currentSortOrder]="currentSortOrder"
    (sortChange)="onSortChange($event)">
  </app-combination-list>
</div>
