.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.hero {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  flex: 1;
}
